footer {
  background: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.4)),
    var(--mainBg2);
}

footer > .fContainer {
  padding: 2rem 0;
}

footer > .copyright {
  border-top: 1px solid var(--mainBg3);
  padding: 1rem 0;
}
