.login {
  height: 100vh;
  background: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url(../../../assets/loginBanner.jpg);
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

.login > .loginContainer > .loginForm {
  background: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.7)),
    var(--mainBg2);
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 0.2rem;
  width: 35%;
}

.login > .loginContainer > .loginForm > h1 {
  font-size: 2rem;
  border-bottom: 1px solid var(--mainBg2);
  padding: 0 0 1rem 0;
  margin: 0 0 1rem 0;
  text-align: center;
}

.login > .loginContainer > .loginForm > form {
  width: 100%;
}

.login > .loginContainer > .loginForm > form > p {
  text-align: center;
  border-bottom: 1px solid var(--mainBg2);
  margin: 0 0 0.5rem 0;
  padding: 0 0 0.5rem 0;
}
.login > .loginContainer > .loginForm > form > .lFTab > label {
  margin: 0 0 0.3rem 0;
  display: block;
}

.login > .loginContainer > .loginForm > form > .lFTab > label > span {
  color: #dc2626;
}

.login > .loginContainer > .loginForm > form > .lFTab > input {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  color: #000;
  border-radius: 0.2rem;
}

.login > .loginContainer > .loginForm > form > .lFTab > input[select] {
  outline: var(--mainBg);
}

.login > .loginContainer > .loginForm > form > .lFTab > p {
  text-align: right;
}

.login > .loginContainer > .loginForm > form > button {
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.2rem;
  background-color: var(--mainBg);
}
